<div class="bootstrap-iso">
  <div id="unipos-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header headers">
        	<label>Unipos</label>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          	<div class="modal-body-left">
                <div class="modal-body-left-message">
                    <label class="title"><b>Message</b></label>
                    <textarea class="unipos_input" rows="3" id="unipos-message" style="height: 0%"></textarea>
                </div>
                <div class="modal-body-left-to-member">
                    <div class="member">
                        <div class="img">
                            <img src="" />
                        </div>
                        <span>Nguyen Duc Anh Tuan</span>
                        <button id="btn-send" type="button" class="btn btn-outline-success disabled send-member">
                            <span class="glyphicon glyphicons-direction"></span> Send
                        </button>
                    </div>
                    <div class="action">
                        <button>@</button>
                        <button>+</button>
                        <button>#</button>
                    </div>
                    <div class="suggest">
                        <div class="suggest-title">Member</div>
                        <div class="suggest-item">nguyen.duc.anh.tuan Nguyen Duc Anh Tuan</div>
                        <div class="suggest-item">nguyen.duc.anh.tuan Nguyen Duc Anh Tuan</div>
                        <div class="suggest-item">nguyen.duc.anh.tuan Nguyen Duc Anh Tuan</div>
                        <div class="suggest-item">nguyen.duc.anh.tuan Nguyen Duc Anh Tuan</div>
                        <div class="suggest-item">nguyen.duc.anh.tuan Nguyen Duc Anh Tuan</div>
                        <div class="suggest-item">nguyen.duc.anh.tuan Nguyen Duc Anh Tuan</div>
                        <div class="suggest-item">nguyen.duc.anh.tuan Nguyen Duc Anh Tuan</div>
                    </div>
                </div>
            </div>
	        <div class="modal-body-right">
                <div class="inl ine-block align-top">
	              	<div>
		            	<label class="col-md-8 pl-0 title"><b>Hashtags</b></label>
					</div>
	            	<div class="checkbox core-value-wrapper">
				      	<label>
						    <button id="core_value_1">
						    	<span class="inline clickable">+</span>
						    </button>
	            			<span>1.AppreciateTeamwork</span>
				      	</label>
				    </div>
	            	<div class="checkbox core-value-wrapper">
				      	<label>
						    <button id="core_value_2">
						    	<span class="inline clickable">+</span>
						    </button>
	            			<span>2.ThinkOutsideTheBox</span>
				      	</label>
				    </div>
	            	<div class="checkbox core-value-wrapper">
				      	<label>
						    <button id="core_value_3">
						    	<span class="inline clickable">+</span>
						    </button>
	            			<span>3.HaveTheGutsToChallenge</span>
				      	</label>
				    </div>
	            	<div class="checkbox core-value-wrapper">
				      	<label>
						    <button id="core_value_4">
						    	<span class="inline clickable">+</span>
						    </button>
	            			<span>4.ThinkPositive</span>
				      	</label>
				    </div>
	            	<div class="checkbox core-value-wrapper">
				      	<label>
						    <button id="core_value_5">
						    	<span class="inline clickable">+</span>
						    </button>
	            			<span>5.SpeedUp</span>
				      	</label>
				    </div>
	            	<div class="checkbox core-value-wrapper">
				      	<label>
						    <button id="core_value_6">
						    	<span class="inline clickable">+</span>
						    </button>
	            			<span>6.BeProfessional</span>
				      	</label>
				    </div>
	            	<div class="checkbox core-value-wrapper">
				      	<label>
						    <button id="core_value_7">
						    	<span class="inline clickable">+</span>
						    </button>
	            			<span>7.FocusOnThePoint</span>
				      	</label>
				    </div>
	            </div>
          	</div>
        </div>
      </div>
  </div>
</div>
