<div class="unipos-wrapper">
    <div class="headers">
        <div class="header-avatar">
            <img src={user_avatar} class="involvingMember_picture"/>
        </div>
        <div class="header-profile-detail">
            <div>
                <div class="default-title">
                    <label>Name</label>
                </div>
                <div class="default-label">
                    <label>{userName}</label>
                </div>
            </div>
            <div>
                <div class="default-title">
                    <label>E-mail</label>
                </div>
                <div class="default-label">
                    <label>{email}</label>
                </div>
            </div>
            <div>
                <div class="default-title">
                    <label>Groups</label>
                </div>
                <div class="default-label">
                    <label>{groupName}</label>
                </div>
            </div>
        </div>
    </div>
    <table class="box">
        <tbody>
            <tr class="partial">
                <td class="tbox-left">Point Received</td>
                <td class="tbox-right">{totalReceivedPoint}</td>
            </tr>
            <tr class="partial">
                <td class="tbox-left">Point Sent</td>
                <td class="tbox-right">{totalSentPoint}</td>
            </tr>
            <tr class="partial">
                <td class="tbox-left">Post Clapped</td>
                <td class="tbox-right">{totalClappedPoint}</td>
            </tr>
        </tbody>
    </table>
</div>
